.button {
  display: inline-flex;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  background-color: var(--button-background);
  color: var(--text-primary);
}

.button:hover {
  cursor: pointer;
  background-color: var(--button-background-active);
}
