@use './theme.scss';
@use '../ui-kit/mixins.scss';

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-base);
  color: var(--text-base);
  font-family: sans-serif;
}

@for $i from 1 through 10 {
  .mt-#{$i} {
    margin-top: #{$i * 4}px;
  }

  .mr-#{$i} {
    margin-right: #{$i * 4}px;
  }

  .mb-#{$i} {
    margin-bottom: #{$i * 4}px;
  }

  .ml-#{$i} {
    margin-left: #{$i * 4}px;
  }
}

.relative {
  position: relative;
}

a {
  color: var(--link);
}

.link-button {
  @include mixins.button;
}
