.header {
  background: var(--header-background);
  padding: 10px;
}

.content {
  display: flex;
  align-items: center;
}

.themeSwitch {
  margin-left: auto;
}

.auth {
  display: flex;
  align-items: center;
  width: 175px;
  justify-content: flex-end;
}
